/* == | == youtube video style ==========================================*/
.youtube {
  display: inline-block;
  /* Fixes slight size change on load */
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-align: left;
  background-size: cover;
  -ms-behavior: url(/backgroundsize.min.htc);
  background-position: 0 50%;
  width: 560px;
}
.youtube .thumb {
  position: absolute;
  height: auto;
  top: 50%;
  /* Margin-top is generated through JS */
  width: 100%;
  /* Unfortunately we have to scale the image */
}
.youtube .play {
  position: absolute;
  height: 74px;
  width: 74px;
  margin-left: -38px;
  margin-top: -38px;
  left: 50%;
  top: 53%;
  background: url("http://myob-technology.github.io/onlineteam-youtubeembed/play.png") 0 0 no-repeat;
}
.youtube .playbackmask {
  width: 100%;
  position: absolute;
}
.youtube .play:hover {
  background-position: 0 -74px;
}
.youtube:hover .play {
  background-position: 0 -74px;
}
.youtube .text:hover + .play {
  background-position: 0 0;
}
.youtube a.text {
  display: inline-block;
  top: 0;
  position: absolute;
  width: 100%;
  background: #323232;
  /*For IE of course */
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background 1.2s;
  -moz-transition: background 1.2s;
  -o-transition: background 1.2s;
  -ms-transition: background 1.2s;
  transition: background 1.2s;
}
.youtube a.text:hover {
  background: #323232;
  /*For IE of course */
  background: #000000;
  text-decoration: underline;
  color: #f4f4f4;
}
.youtube a.text {
  display: none;
}
/* Class no-yt-title hides the title-bar */
.no-yt-title .text {
  display: none;
}
.no-yt-title .play {
  top: 50%;
}
